body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-container {
  display: grid;
  grid-template-columns: 10rem 10rem 10rem;
}
.box {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 2em 1.5em;
  font-size: 2em;
  text-align: center;
  cursor: pointer;
}